<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-custom" th:fragment="header(currentPage)">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">
      <img th:src="@{/images/TM.png}" alt="Your Brand" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"
             th:classappend="${currentPage == 'rooms' ? 'active' : ''}"
             th:attrappend="aria-current=${currentPage == 'rooms' ? 'page' : null}"
             th:href="@{/rooms}">Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             th:classappend="${currentPage == 'guests' ? 'active' : ''}"
             th:attrappend="aria-current=${currentPage == 'guests' ? 'page' : null}"
             th:href="@{/guests}">Guests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             th:classappend="${currentPage == 'reservations' ? 'active' : ''}"
             th:attrappend="aria-current=${currentPage == 'reservations' ? 'page' : null}"
             th:href="@{/reservations}">Reservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             th:classappend="${currentPage == 'searchguests' ? 'active' : ''}"
             th:attrappend="aria-current=${currentPage == 'searchguests' ? 'page' : null}"
             th:href="@{/guests/search}">Search Guests</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
</html>
