<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Room List')"></head>
<body>
<div class="d-flex flex-column min-vh-100">
    <div th:replace="fragments/header :: header('rooms')"></div>

    <h2 class="mt-3 text-center">Room List</h2>
    <div class="container mt-5 flex-grow-1">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Room Id</th>
                            <th scope="col">Room Number</th>
                            <th scope="col">Room Type</th>
                            <th scope="col">Floor</th>
                            <th scope="col">Cost per Night (€)</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="room : ${rooms}">
                            <td th:text="'#' + ${room.roomId}" th:attr="data-label='Room Id'"></td>
                            <td th:text="${room.roomNumber}" th:attr="data-label='Room Number'"></td>
                            <td th:text="${room.roomType}" th:attr="data-label='Room Type'"></td>
                            <td th:text="${room.floor}" th:attr="data-label='Floor'"></td>
                            <td th:text="${room.price}" th:attr="data-label='Cost per Night'"></td>
                            <td th:text="${room.roomDescription}" th:attr="data-label='Room Description'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
