<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet'>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
</head>
<body>
<nav class="navbar navbar-expand-md ">
    <a th:href="@{index}" class="navbar-brand  fs-3 ms-3">
        <img src="images/logo.png" alt="MOB Seeker"/>
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#btn">
        <i class='bx bx-menu'></i>
    </button>
    <div class="collapse navbar-collapse " id="btn">
        <ul class="navbar-nav ms-auto fs-5">
            <li class="nav-item">
                <a th:href="@{project}" class="nav-link" style="color: black">Project</a>
            </li>
            <li class="nav-item">
                <a th:href="@{team}" class="nav-link"
                   style="color: black">Team</a>
            </li>

            <li class="nav-item">
                <a th:href="@{admin}" class="nav-link" style="color: black">Admin
                    Login</a>
            </li>
        </ul>
    </div>
</nav>

<section id="main">
    <div class="map" id="map"></div>
</section>
<script th:inline="javascript">
    let latitudeMOB = [[${MOBlatitude}]];
    let longitudeMOB = [[${MOBlongitude}]];
    let latitudeVictim = [[${latitudeVictim}]];
    let longitudeVictim = [[${longitudeVictim}]];
    let pathFinderX = [[${pathFinderX}]];
    let pathFinderY = [[${pathFinderY}]];
    console.log("MOB longitude: " + longitudeMOB);
    console.log("MOB latitude: " + latitudeMOB);
    console.log("Victim longitude: " + longitudeVictim);
    console.log("Victim latitude: " + latitudeVictim);
    console.log("PathFinder X: " + pathFinderX);
    console.log("PathFinder Y: " + pathFinderY);
    let map = L.map('map').setView([latitudeMOB, longitudeMOB], 13);

    let greenIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    let redIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    let blueIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    L.marker([51.5, -0.09], {icon: greenIcon}).addTo(map);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    L.marker([longitudeMOB, latitudeMOB], {icon: greenIcon}).addTo(map); // MOB Seeker
    L.marker([longitudeVictim, latitudeVictim], {icon: redIcon}).addTo(map); // Victim
    L.marker([pathFinderY, pathFinderX], {icon: blueIcon}).addTo(map); // PathFinder
    let latlngs = [
        [longitudeMOB, latitudeMOB],
        [longitudeVictim, latitudeVictim],
    ];

    let pathfinderlngs = [
        [pathFinderY, pathFinderX],
        [longitudeMOB, latitudeMOB],
    ];

    let polylineRed = L.polyline(latlngs, {color: 'red'}).addTo(map);
    let polylineBlue = L.polyline(pathfinderlngs, {color: 'blue'}).addTo(map);

    let circleEstimatedIntersect = L.circle([pathFinderY, pathFinderX], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 100
    }).addTo(map);

    map.fitBounds(polylineRed.getBounds());
    map.fitBounds(polylineBlue.getBounds());
</script>
</body>
</html>
