<!DOCTYPE html>
<html lang="en">
<head>

    <title>Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet'>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
</head>
<body>
<nav class="navbar navbar-expand-md "><a th:href="@{index}"
                                         class="navbar-brand  fs-3 ms-3"><img
        src="images/logo.png" alt="MOB Seeker"/></a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#btn">
        <i class='bx bx-menu'></i>
    </button>
    <div class="collapse navbar-collapse " id="btn">
        <ul class="navbar-nav ms-auto fs-5">

            <li class="nav-item">
                <a th:href="@{project}" class="nav-link" style="color: black">Project</a>
            </li>
            <li class="nav-item">
                <a th:href="@{team}" class="nav-link"
                   style="color: black">Team</a>
            </li>

            <li class="nav-item">
                <a th:href="@{admin}" class="nav-link" style="color: black">Admin
                    Login</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12 text-center my-0">
            <h2><b>Let's Save People</b></h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Card 1 -->
        <div class="col-md-3 mb-4 d-flex">
            <div class="card flex-fill" style="width: 18rem;">
                <img class="card-img-top" src="images/Boat.jpg"
                     alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Problem</h5>
                    <p class="card-text">People overboard on ships not having a
                        big enough chance of survival.</p>
                    <a href="#details-section" class="card-link">Details</a>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-3 mb-4 d-flex">
            <div class="card flex-fill" style="width: 18rem;">
                <img class="card-img-top" src="images/mob.jpg"
                     alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Effects</h5>
                    <p class="card-text">
                    <ul>
                        <li>People overboard</li>
                        <li>Ship Companies</li>
                        <li>Ship Crew</li>
                        <li>Passengers</li>
                    </ul>
                    </p>

                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-3 mb-4 d-flex">
            <div class="card flex-fill" style="width: 18rem;">
                <img class="card-img-top" src="images/Arduino.jpg"
                     alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Solution</h5>
                    <p class="card-text">MOB Seeker would detect if someone fell
                        overboard and would deploy a boat to
                        locate the individual, use GPS to help rescue the
                        individual with minimal effort required.</p>

                </div>
            </div>
        </div>
    </div>
    <div id="details-section">
        <div class="row">
            <div class="col-12 my-4">
                <p>
                <h3>Problem</h3>
                <p>The current technique of rescuing someone overboard is not
                    automated and requires a big manual effort
                    if at all the individual overboard is sighted and the
                    survival chances of the victims are low
                </p>
                </p>
                <p><h5>Currently, the process for MOB</h5>
                <p>
                <ul>
                    <li>The ship goes into emergency mode. The bridge will
                        contact the Coast Guard and a search will begin. The
                        ship will stop and the crew will try to pinpoint where
                        and when it happened so they can start a thorough search
                        in that area.
                    </li>
                    <li>The captain also will notify other ships in the area who
                        are then obligated to help search
                    </li>
                    <li>The ship will keep searching until the Coast Guard
                        clears it to continue its voyage to the next port.
                    </li>
                    <li>The Coast Guard will continue searching, widening the
                        radius of the search based on probable locations,
                        conditions and ocean currents, until they feel they're
                        unlikely to find the person
                    </li>
                </ul>
                </p></p>
                <p>
                <h3>Solution</h3></p>
                <p>
                    The Autonomous MOB (Man Overboard) Seeker would detect if
                    someone fell overboard and would deploy a
                    boat to locate the individual, provide an inflatable Life
                    Buoy and use GPS to help rescue the
                    individual with minimal effort required. It could
                    potentially be scaled up to automatically retrieve
                    the MOB individual.
                </p>
                <p>
                <ul>
                    <li>
                        Testing on land
                    </li>
                    <li> Predicting the fastest route between two points where
                        the destination shifts its location
                    </li>
                    <li>Mapping and simulating the results in real time</li>

                </ul>

                </p>
                <p>
                <h5>Project Parts</h5>
                <ul>
                    <li>Arduino - gathering GPS data</li>
                    <li>Java - calculating the data to find best route</li>
                    <li>Website - visualising the data</li>
                </ul>
                </p>
                <p>
                <ul>

                </ul>
                </p>
            </div>
        </div>
    </div>

</div>

</body>
</html>