#map{
    height: 900px;
}

*{
    margin: 5px;
    box-sizing: border-box;
}

a:not(.navbar-brand):after {
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
a:hover:after { transform: scaleX(1); }

html {
    scroll-behavior: smooth;
}